In [1]:
import numpy as np
import pandas as pd

## Costs Breakdown

#### Per greenhouse, one-time/fixed costs:
- construction costs:
    - materials (metal, glass, concrete, etc.)
    - shipping of materials
    - HVAC/electrical installation
    - labor to set it up
    - initial growing systems (may have to be replaced over time)
    - initial lights (will have to be replaced over time)
    - renovations
    <p>
- land:
    - cost to buy the space (if bought instead of leased)
    
#### Per greenhouse, ongoing costs:
- bureaucratic:
    - taxes on the space if we own it 
    - legal fees
    - permits
    - lease on the space (if leasing insead of buying)
    <p>
- electricity:
    - monthly energy expenditure of the farm (based on local energy prices) -- see note in whimsical 
<p>
- plants/nutrients/water:
    - cost of seeds
    - shipping cost of seeds
    - water 
    - nutrient solution
    <p>
- labor:
    - payroll taxes
    - wages for workers (x number of workers x hours worked)
    - maintenance
<p>
- packaging and distribution:
    - cost to distribute to people (driving?)
    - packaging 
    - storage?

## Revenue Breakdown

- average local price of produce * yield
<p><p>OR
- cost of CSA share * number of shares sold

## Crop Data Selection Rationale

I will start out by finding information on the cost of seeds, average hydroponic yield per unit area, growing temperature, light usage, and water usage for a variety of lettuces that are commonly grown hydroponically, beefsteak tomatoes, strawberries, bell peppers, spinach, cilantro, kale, cucumbers, and zucchini because these are some of the most popular hydroponically produced crops ([reference](https://journals.ashs.org/hortsci/view/journals/hortsci/55/6/article-p758.xml#:~:text=Fifty%2Dthree%20percent%20of%20the,floriculture%20to%20hydroponic%20food%20production.)).  

After compiling this basic data, I will expand the database to include more crops as well as information regarding the nutrient requirements for each crop.

## Crop Data

This is a database of different types of crops along with information about their hydroponic growth requirements.  All data sources are listed.

In [38]:
crops_data = pd.DataFrame()
crops_data['name'] = []
crops_data['1 oz seeds cost ($)'] = []
crops_data['.25 lb seeds cost ($)'] = []
crops_data['1 lb seeds cost ($)'] = []
crops_data['5 lb seeds cost ($)'] = []
crops_data['yield (plants) per sqft'] = []
crops_data['weight of one plant\'s yield fresh (g)'] = []
crops_data['plant spacing (inches)'] = []
crops_data['min temp (degrees F)'] = []
crops_data['max temp (degrees F)'] = []
crops_data['days to harvest (low estimate)'] = [] 
crops_data['days to harvest (high estimate)'] = []
crops_data['water usage (L water/kg fresh crop)'] = []
crops_data['min hours of light'] = []
crops_data['max hours of light'] = []

#### <u>Salad Bowl Lettuce</u>:

References: 
- bulk seed prices: https://www.bulkseedstore.com/store/bulk-lettuce-seeds-salad-bowl-green.html
- harvest weight: https://journals.ashs.org/downloadpdf/journals/horttech/30/5/article-p632.pdf
- water usage: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4483736/#:~:text=Specifically%2C%20hydroponic%20lettuce%20production%20had,%2Fy%20(Figure%202).&text=Modeled%20annual%20water%20use%20in,southwestern%20Arizona%20using%20hydroponic%20vs.
- hours of light: https://hydrobuilder.com/learn/hydroponic-lettuce/#:~:text=How%20Much%20Light%20Does%20Hydroponic,first%20starting%20your%20lettuce%20garden.

In [39]:
crops_data.loc[len(crops_data.index)] = ['salad bowl lettuce', 7.79, 19.55, 42.09, 146.95, 1.538, 229.1, 6, 45, 70, 40, 50, 3.00, 16, 18]

#### <u>Roma Tomatoes</u>:

References:
- bulk seed prices: https://www.bulkseedstore.com/store/bulk-tomato-seeds-beefsteak.html
- plant spacing: https://hydrogardengeek.com/grow-hydroponic-tomatoes/
- time to harvest: https://soakandsoil.com/how-fast-do-hydroponic-tomatoes-grow/
- water usage: https://edepot.wur.nl/156932

In [40]:
crops_data.loc[len(crops_data.index)] = ['beefsteak tomatoes', 19.55, 46.99, 117.55, np.nan, 1, 10000, 12, 60, 75, 60, 80, 15, 16, 18]

#### <u>Kale (Premier)</u>

References:
- bulk seed prices:https://www.bulkseedstore.com/store/bulk-kale-seeds-premier.html
- yield per sqft:
- weight:https://www.greenhousegrower.com/crops/vegetables/5-top-takeaways-from-trial-of-hydroponic-kale-cultivars/
- plant spacing:
- temp:https://www.google.com/search?q=celcius+to+f&oq=celcius+to+f&aqs=chrome..69i57j6j0i10i433j0i512j0i10j0i512l2j0i10l2j0i512.1841j0j7&sourceid=chrome&ie=UTF-8
- time to harvest:
- water usage: https://www.researchgate.net/figure/Water-consumption-range-of-different-crops-cultivated-using-hydroponic-system_tbl1_342298647
- hours of light:https://whyfarmit.com/hydroponic-kale/#:~:text=The%20standard%20EC%20level%20for,is%20between%205.5%20and%206.5.

In [41]:
crops_data.loc[len(crops_data.index)] = ['premier kale', 7.60, 17.59, 39.15, 119.51, 1, 468, 12, 55, 75, 55, 75, 55.6, 6, 10]

In [42]:
crops_data = crops_data.drop_duplicates()
crops_data

,name,1 oz seeds cost ($),.25 lb seeds cost ($),1 lb seeds cost ($),5 lb seeds cost ($),yield (plants) per sqft,weight of one plant's yield fresh (g),plant spacing (inches),min temp (degrees F),max temp (degrees F),days to harvest (low estimate),days to harvest (high estimate),water usage (L water/kg fresh crop),min hours of light,max hours of light
0,salad bowl lettuce,7.79,19.55,42.09,146.95,1.538,229.1,6,45,70,40,50,3.0,16,18
1,beefsteak tomatoes,19.55,46.99,117.55,NaN,1.000,10000.0,12,60,75,60,80,15.0,16,18
2,premier kale,7.60,17.59,39.15,119.51,1.000,468.0,12,55,75,55,75,55.6,6,10