In [1]:
import numpy as np
import pandas as pd

## Costs Breakdown

#### Per greenhouse, one-time/fixed costs:
- construction costs:
    - materials (metal, glass, concrete, etc.)
    - shipping of materials
    - HVAC/electrical installation
    - labor to set it up
    - initial growing systems (may have to be replaced over time)
    - initial lights (will have to be replaced over time)
    - renovations
    <p>
- land:
    - cost to buy the space (if bought instead of leased)
    
#### Per greenhouse, ongoing costs:
- bureaucratic:
    - taxes on the space if we own it 
    - legal fees
    - permits
    - lease on the space (if leasing insead of buying)
    <p>
- electricity:
    - monthly energy expenditure of the farm (based on local energy prices) -- see note in whimsical 
<p>
- plants/nutrients/water:
    - cost of seeds
    - shipping cost of seeds
    - water 
    - nutrient solution
    <p>
- labor:
    - payroll taxes
    - wages for workers (x number of workers x hours worked)
    - maintenance
<p>
- packaging and distribution:
    - cost to distribute to people (driving?)
    - packaging 
    - storage?

## Revenue Breakdown

- average local price of produce * yield
<p><p>OR
- cost of CSA share * number of shares sold

## Crop Selection Rationale

I will start out by finding information on the cost of seeds, average hydroponic yield per unit area, growing temperature, light usage, and water usage for a variety of lettuces that are commonly grown hydroponically, beefsteak tomatoes, spinach, cilantro, kale, cucumbers, and zucchini.  I then create a separate but similar database for perennial crops, including strawberries and bell peppers (more to come).  I chose these crops to build the database off of because they are some of the most popular commercially-produced, hydroponically-grown crops ([reference](https://journals.ashs.org/hortsci/view/journals/hortsci/55/6/article-p758.xml#:~:text=Fifty%2Dthree%20percent%20of%20the,floriculture%20to%20hydroponic%20food%20production.)).  

After compiling this basic data, I will expand the database to include more crops as well as information regarding the nutrient requirements for each crop.

## "One and Done" (Annual) Crops Data

"One and done" (or annual) crops are crops that you plant, allow to mature, harvest all at once or in a short period of time, and then they are done and you have to plant a new seed.  These types of plants usually reach maturity within 40 to 90 days.  Here I compile a database of different types of "one and done" crops along with information about their hydroponic growth requirements.  All sources are listed.

Here are some general resources I used to help compile this data:
- seed weight to number convertion chart: https://harvesttotable.com/vegetable_seeds_per_ounce_per/

In [81]:
one_and_done_crops = pd.DataFrame()
one_and_done_crops['name'] = []
one_and_done_crops['10000 seeds cost ($)'] = []
one_and_done_crops['plants per sqft'] = []
one_and_done_crops['yield per plant (g) (low estimate)'] = []
one_and_done_crops['yield per plant (g) (high estimate)'] = []
one_and_done_crops['plant spacing (inches)'] = []
one_and_done_crops['min temp (degrees F)'] = []
one_and_done_crops['max temp (degrees F)'] = []
one_and_done_crops['days to harvest (low estimate)'] = [] 
one_and_done_crops['days to harvest (high estimate)'] = []
one_and_done_crops['water usage (L water/kg fresh crop)'] = []
one_and_done_crops['min hours of light'] = []
one_and_done_crops['max hours of light'] = []

#### <u>Salad Bowl Lettuce</u>:

<p>Note: I am using the conversation rate of 882 lettuce seeds/g found here: https://www.trueleafmarket.com/pages/seed-counts-and-germination<p>
    
References: 

- bulk seed prices: https://startinggardens.com/products/lettuce-seed-salad-bowl-green-1-2-ounce-pack-10-000-plus-seeds?variant=32664145428531
- harvest weight: https://journals.ashs.org/downloadpdf/journals/horttech/30/5/article-p632.pdf
- water usage: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4483736/#:~:text=Specifically%2C%20hydroponic%20lettuce%20production%20had,%2Fy%20(Figure%202).&text=Modeled%20annual%20water%20use%20in,southwestern%20Arizona%20using%20hydroponic%20vs.
- hours of light: https://hydrobuilder.com/learn/hydroponic-lettuce/#:~:text=How%20Much%20Light%20Does%20Hydroponic,first%20starting%20your%20lettuce%20garden.

In [82]:
one_and_done_crops.loc[len(one_and_done_crops.index)] = ['salad bowl lettuce', 5.99, 1.538, 220, 240, 6, 45, 70, 40, 50, 3.00, 16, 18]

#### <u>Beefsteak Tomatoes</u>:

References:
- bulk seed prices: https://www.edenbrothers.com/products/tomato_seeds_beefsteak?gclid=Cj0KCQjw54iXBhCXARIsADWpsG9Cc_FW0u9PF8s0T6q7Y0K1TdaxR4hslKvHgUn-srRf5Zpe9tugwpIaAvRPEALw_wcB
- plant spacing: https://hydrogardengeek.com/grow-hydroponic-tomatoes/
- time to harvest: https://soakandsoil.com/how-fast-do-hydroponic-tomatoes-grow/
- water usage: https://edepot.wur.nl/156932

In [83]:
one_and_done_crops.loc[len(one_and_done_crops.index)] = ['beefsteak tomatoes', 19.95, 1, 9000, 11000, 12, 60, 75, 60, 80, 15, 16, 18]

#### <u>Kale (Premier)</u>:

References:
- bulk seed prices:https://www.bulkseedstore.com/store/bulk-kale-seeds-premier.html
- yield per sqft:
- weight:https://www.greenhousegrower.com/crops/vegetables/5-top-takeaways-from-trial-of-hydroponic-kale-cultivars/
- plant spacing:
- temp:https://www.google.com/search?q=celcius+to+f&oq=celcius+to+f&aqs=chrome..69i57j6j0i10i433j0i512j0i10j0i512l2j0i10l2j0i512.1841j0j7&sourceid=chrome&ie=UTF-8
- time to harvest:
- water usage: https://www.researchgate.net/figure/Water-consumption-range-of-different-crops-cultivated-using-hydroponic-system_tbl1_342298647
- hours of light:https://whyfarmit.com/hydroponic-kale/#:~:text=The%20standard%20EC%20level%20for,is%20between%205.5%20and%206.5.

In [85]:
one_and_done_crops.loc[len(one_and_done_crops.index)] = ['premier kale', 9.50, 1, 440, 480, 12, 55, 75, 55, 75, 55.6, 6, 10]

In [86]:
one_and_done_crops = one_and_done_crops.drop_duplicates()
one_and_done_crops

,name,10000 seeds cost ($),plants per sqft,yield per plant (g) (low estimate),yield per plant (g) (high estimate),plant spacing (inches),min temp (degrees F),max temp (degrees F),days to harvest (low estimate),days to harvest (high estimate),water usage (L water/kg fresh crop),min hours of light,max hours of light
0,salad bowl lettuce,5.99,1.538,220,240,6,45,70,40,50,3.0,16,18
1,beefsteak tomatoes,19.95,1.000,9000,11000,12,60,75,60,80,15.0,16,18
2,premier kale,9.50,1.000,440,480,12,55,75,55,75,55.6,6,10

## Perennial Crops Data

Perennial crops, as opposed to "one and done" crops, grow from seed and reach maturity and then once they are mature, they produce harvests continuously or routinely for a period of a year or more.  They take longer on average to reach maturity compared to "one and done" crops, but their fruiting period is much longer and the initial wait is worth the long harvest period.

In [90]:
perennial_crops = pd.DataFrame()
perennial_crops['name'] = []
perennial_crops['10000 seeds cost ($)'] = []
perennial_crops['plants per sqft'] = []
perennial_crops['plant spacing (inches)'] = []
perennial_crops['time to first harvest from seed'] = []
perennial_crops['harvest period length'] = []
## the g harvest / day gives the average grams of the crop that are harvested during its harvest period.
perennial_crops['harvest (g)/day'] = []
perennial_crops['lifetime harvest (g)'] = []
perennial_crops['min temp (degrees F)'] = []
perennial_crops['max temp (degrees F)'] = []
perennial_crops['water usage (L water/kg fresh crop)'] = []
perennial_crops['min hours of light'] = []
perennial_crops['max hours of light'] = []
perennial_crops

Empty DataFrame
Columns: [name, 10000 seeds cost ($), plants per sqft, plant spacing (inches), time to first harvest from seed, harvest period length, harvest (g)/day, lifetime harvest (g), min temp (degrees F), max temp (degrees F), water usage (L water/kg fresh crop), min hours of light, max hours of light]
Index: []

#### <u>Strawberries</u>:

References:
- bulk seed prices: https://www.ufseeds.com/product/giant-strawberry-seeds---5000-seeds/STGI-5000-seeds.html?gclid=Cj0KCQjw54iXBhCXARIsADWpsG8Hypsp1S9aS7gDhNlH7cL8vqo9c1GE7JEQQo7oC25IReny0c3j0ZQaAvaVEALw_wcB
- yield per sqft:
- weight:
- plant spacing:https://smartpots.com/growing-hydroponic-strawberries/#:~:text=Hydroponic%20strawberries%20need%20plenty%20of,shallow%2C%20soft%2Dsided%20containers.
- temp:https://hydrobuilder.com/learn/hydroponic-strawberries/#:~:text=It%20really%20comes%20down%20to,a%20shorter%20time%20to%20harvest. (65-75)
- time to harvest:
- water usage: 
- hours of light:https://hydrobuilder.com/learn/hydroponic-strawberries/#:~:text=It%20really%20comes%20down%20to,a%20shorter%20time%20to%20harvest.

In [ ]:
perennial_crops.loc[len(perennial_crops.index)] = ['strawberries', 240, 2, 6,

In [91]:
perennial_crops

Empty DataFrame
Columns: [name, 10000 seeds cost ($), plants per sqft, plant spacing (inches), time to first harvest from seed, harvest period length, harvest (g)/day, lifetime harvest (g), min temp (degrees F), max temp (degrees F), water usage (L water/kg fresh crop), min hours of light, max hours of light]
Index: []

#### <u>Bell Peppers</u>:

References:
- spacing: https://www.nosoilsolutions.com/how-to-grow-hydroponic-bell-peppers/  (18 inches)
- seed prices: https://www.edenbrothers.com/products/rainbow-bell-pepper-seeds

In [ ]:
perennial_crops.loc[len(perennial_crops.index)] = ['bell peppers', 119.9, .667, , , 18,

In [79]:
perennial_crops = crops_data.drop_duplicates()
perennial_crops

,name,10000 seeds cost ($),plants per sqft,yield per plant (g) (low estimate),yield per plant (g) (high estimate),plant spacing (inches),min temp (degrees F),max temp (degrees F),days to harvest (low estimate),days to harvest (high estimate),water usage (L water/kg fresh crop),min hours of light,max hours of light
0,beefsteak tomatoes,19.95,1.000,9000,11000,12,60,75,60,80,15.0,16,18
1,salad bowl lettuce,5.99,1.538,220,240,6,45,70,40,50,3.0,16,18
2,premier kale,9.50,1.000,440,480,12,55,75,55,75,55.6,6,10